.DS_Store
/node_modules/
/tests/unit/reports/
/tests/e2e/reports/

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
selenium-debug.log
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

/azure/
/pack/
/public/
/src/
/tests/
Jenkinsfile
*.yml
*.js
*.json
.*
